---
title: Le Wagon - Middleman
---

 <%= partial "components/banner" %>
    <h1>Recent Flats</h1>
    <div class="cards-container container">
      <div class="row">
        <% data.cities.each do |city| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= partial "components/card", :locals => { :city => city } %>
          </div>
        <% end %>
      </div>
    </div>
